$vp1prefix: xs;
$vp2prefix: s;
$vp3prefix: m;
$vp4prefix: l;
$vp5prefix: xl;





@import "offsets/offsetsall";
// @import "offsets/offsets2";
// @import "offsets/offsets3";
// @import "offsets/offsets4";
// @import "offsets/offsets5";
// @import "offsets/offsets6";
// @import "offsets/offsets8";
// @import "offsets/offsets12";
// @import "offsets/offsets16";
// @import "offsets/offsets24";