html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 1% 0 1%;
}

.grid.full {
    width:100%;
    max-width: none;
}

.row {
    margin: 0 -1%;
    margin-bottom: 0;
}

.row:after, [class*='col-']:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 1em 1%;
    padding: -webkit-calc(1em + 0.5vh) 1%;
    padding: calc(1em + 0.5vh) 1%;
}

[class*='col-'].fixed-hcol-margin {
    padding-left: 3px;
    padding-right: 3px;
}

[class*='col-'].no-hcol-margin  {
    padding-left: 0;
    padding-right: 0;
}

[class*='col-'].no-vcol-margin  {
    padding-top: 0;
    padding-bottom: 0;
}

.col-1-3.nobreak {
    width: 33.3333%;
}

.col-2-3.nobreak {
    width: 66.6666%;
}

.col-1-2.nobreak, .col-1-8 {
    width: 50%;
}

.col-2-8 {
    width: 100%;
}

.col-1-12 {
    width: 50%;
}

.col-2-12 {
    width: 100%;
}

.col-4-12 {
    width: 100%;
}

.col-1-16 {
    width: 50%;
}

.col-2-16 {
    width: 100%;
}

.col-4-16 {
    width: 100%;
}

.col-8-16 {
    width: 100%;
}

/*******************
BEGIN MEDIA QUERIES
*******************/
@media screen and (min-width: 320px) {
    .col-1-16 {
        width: 25%;
    }

    .col-2-16 {
        width: 50%;
    }
}

@media screen and (min-width: 540px) {
    .col-1-4, .col-1-6 {
        width: 50%;
    }

    .col-1-3 {
        width: 33.33%;
    }

    .col-3-6 + .col-1-6 {
        width: 100%;
    }

    .col-2-3 {
        width: 66.66%;
    }

    .col-1-8 {
        width: 50%;
    }

    .col-1-12 {
        width: 25%;
    }

    .col-2-12 {
        width: 50%;
    }

    .col-2-4, .col-2-6, .col-4-8 {
        width: 100%;
    }

    .col-3-4 + .col-1-4 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .col-1-2 {
        width: 50%;
    }
    .col-1-4, .col-3-4 + .col-1-4 {
        width: 25%;
    }

    .col-1-6 {
        width: 33.33%;
    }

    .col-3-6 + .col-1-6 {
        width: 33.33%;
    }

    .col-2-4 {
        width: 50%;
    }

    .col-3-4 {
        width: 75%;
    }

    .col-4-4 {
        width: 100%;
    }

    .col-2-6 {
        width: 66.66%;
    }

    .col-3-6 {
        width: 100%;
    }

    .col-4-6, .col-4-6 + .col-2-6 {
        width: 100%;
    }

    .col-4-6 ~ .col-1-6 {
        width: 50%;
    }

    .col-1-8 {
        width: 25%;
    }

    .col-2-8 {
        width: 50%;
    }

    .col-4-8 {
        width: 100%;
    }

    .col-6-8, .col-6-8 + .col-2-8 {
        width: 100%;
    }

    .col-6-8 ~ .col-1-8 {
        width: 50%;
    }

    .col-1-16 {
        width: 12.5%;
    }

    .col-2-16 {
        width: 25%;
    }

    .col-4-16 {
        width: 50%;
    }

    .col-8-16 {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .col-4-6 + .col-2-6 {
        width: 33.33%;
    }

    .col-4-6 ~ .col-1-6 {
        width: 16.66%;
    }

    .col-6-8 + .col-2-8 {
        width: 25%;
    }

    .col-6-8 ~ .col-1-8 {
        width: 12.5%;
    }

    .col-1-6 {
        width: 16.66%;
    }

    .col-3-6 + .col-1-6 {
        width: 16.66%;
    }

    .col-2-6 {
        width: 33.33%;
    }

    .col-3-6 {
        width: 50%;
    }

    .col-4-6 {
        width: 66.66%;
    }

    .col-6-6 {
        width: 100%;
    }

    .col-1-8, .col-1-16 {
        width: 12.5%;
    }

    .col-2-8, .col-2-16 {
        width: 25%;
    }

    .col-4-8, .col-4-16 {
        width: 50%;
    }

    .col-6-8 {
        width: 75%;
    }

    .col-8-16 {
        width: 100%;
    }

    .col-1-12 {
        width: 8.33%;
    }

    .col-2-12 {
        width: 16.66%;
    }

    .col-4-12 {
        width: 33.33%;
    }
}

@media screen and (min-width: 1200px) {
    .col-1-16 {
        width: 6.25%;
    }

    .col-2-16 {
        width: 12.5%;
    }

    .col-4-16 {
        width: 25%;
    }

    .col-8-16 {
        width: 50%;
    }
}
