$columns: 6;
$vp2columns: 2;
$vp3columns: 3;
$vp4columns: 6;
$vp5columns: 6;

@media screen and (min-width: $vp2) {
    .row {
        @for $i from 1 to $vp2columns {
            .s-col-#{$columns}-offset-#{$i} {
                margin-#{$left}: percentage($i / $vp2columns);
            }
        }
    }
}

@media screen and (min-width: $vp3) {
    .row {
        @for $i from 1 to $vp3columns {
            .m-col-#{$columns}-offset-#{$i} {
                margin-#{$left}: percentage($i / $vp3columns);
            }
        }
    }
}

@media screen and (min-width: $vp4) {
    .row {
        @for $i from 1 to $vp4columns {
            .l-col-#{$columns}-offset-#{$i} {
                margin-#{$left}: percentage($i / $vp4columns);
            }
        }
    }
}

@media screen and (min-width: $vp5) {
    .row {
        @for $i from 1 to $vp5columns {
            .xl-col-#{$columns}-offset-#{$i} {
                margin-#{$left}: percentage($i / $vp5columns);
            }
        }
    }
}