body.offsetopened {
  overflow-x: hidden;
}

.toolbox {
  text-align: center;
}

.page {
  background-color: #FFF;
  padding-bottom: 1em;
  position: relative;
}
.page.offset-docked {
  left: auto !important;
  margin-left: 20%;
  overflow: hidden;
  right: auto;
}

.msdotcomoffsetmenu {
  background-color: #333333;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 18em;
  -webkit-transition: width 0.3s linear;
          transition: width 0.3s linear;
}
.msdotcomoffsetmenu.offset-docked {
  width: 20%;
}
.msdotcomoffsetmenu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.msdotcomoffsetmenu .offset-menu-link {
  background-color: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: block;
  padding: 1em;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.msdotcomoffsetmenu .offset-menu-link:hover, .msdotcomoffsetmenu .offset-menu-link:focus {
  background-color: #EEE;
  color: #333;
}

.offset-menu-button {
  background-color: #eee;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 4.6em;
  padding: 1em;
  position: fixed;
  z-index: 1;
}
.offset-menu-button:hover, .offset-menu-button:focus {
  background-color: #333;
}
.offset-menu-button:hover .menu-icon rect, .offset-menu-button:focus .menu-icon rect {
  fill: #FFF;
}
.offset-menu-button .menu-icon {
  width: 2.5em;
}

@media all and (max-width: 768px) {
  .dock-button {
    display: none;
  }

  .msdotcomoffsetmenu {
    width: 12em;
  }
}
