@mixin pull($vp, $vpprefix, $vpcolumns, $total){
    @media screen and (min-width: $vp) {
        $ratio: $total / $vpcolumns;
        @for $i from 1 to $vpcolumns {
            .#{$vpprefix}-col-#{$total}-pull-#{$i} {
                right: percentage(($i*$ratio) / $total);
                left: auto;
            }
        }
    }
}

@mixin push($vp, $vpprefix, $vpcolumns, $total){
    @media screen and (min-width: $vp) {
        $ratio: $total / $vpcolumns;
        @for $i from 1 to $vpcolumns {
            .#{$vpprefix}-col-#{$total}-push-#{$i} {
                left: percentage(($i*$ratio) / $total);
                right: auto;
            }
        }
    }
}

@each $columnCount, $column-breakdown in $columns {

	@for $i from 1 through length($column-breakdown) {
        @include push(nth($vp-list, $i), nth($vp-prefix-list, $i), nth($column-breakdown, $i), $columnCount);
        @include pull(nth($vp-list, $i), nth($vp-prefix-list, $i), nth($column-breakdown, $i), $columnCount);
	}

}