    @mixin row($padding) {
        margin-left: -$padding;
        margin-right: -$padding;

        & > [class*="col-"] {
            padding-left: $padding;
            padding-right: $padding;
        }
    }

    .#{$grid-prefix}row {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        margin-left: -1em;
        margin-right: -1em;
        margin-left: -1vw;
        margin-right: -1vw;

        &.zero-margin {
            @include row(0);
        }

        &.fixed {
            @include row($fixed-standard);
        }

        &.fixed-small {
            @include row($fixed-small-margin);
        }

        &.fixed-large {
            @include row($fixed-large-margin);
        }

        &.content-flush {
            margin-left: -2em;
            margin-right: -2em;
            margin-left: -2vw;
            margin-right: -2vw;
        }

        &.vertically-centered {
            align-items: center;
        }


        @media screen and (min-width: $vp2) {
            &.fixed-small {
                @include row($fixed-small-margin*3);
            }

            &.fixed-large {
                @include row($fixed-large-margin*3);
            }
        }

        @media screen and (min-width: $vp3) {
            &.fixed-small {
                @include row(($fixed-small-margin*3)*2)
            }

            &.fixed-large {
                @include row(($fixed-large-margin*3)*2);
            }
        }


    }

    .#{$grid-prefix}row:after,
    [class*="col-"]:after {
        content: "";
        display: table;
        clear: both;
    }

