//------------------------------------
//          #IMPORTS
//------------------------------------
@import "config";
@import "directional";
//manual col spans, offset, and column ordering imports are at the
//bottom for specificity battle





//Not assuming use of picchu or other library for box-sizing border-box
.#{$grid-prefix}grid, .#{$grid-prefix}row, [class*="col-"] { 
    box-sizing: border-box; 
} 





//------------------------------------
//          #GRID, ROW, COL
//------------------------------------
.#{$grid-prefix}grid {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-grid-width;
    padding-left: 12px;
    padding-right: 12px;

    //Import of grid helpers like fixed col and zero margin col options
    @if $includeGridHelpers {
        @import "grid-helpers";
    }

    //Import of row helpers like fixed col and zero margin col options to be put on an individual row
    @if $includeRowHelpers {
        @import "row-helpers";
    }
}


// Column classes
[class*="col-"] {
    float: $left;
    width: 100%;
    position: relative;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-left: 1vw;
    padding-right: 1vw;
    &.centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

//Include for mixed LTR/RTL support
@include if-mixed("[class*='col-']", (float: $left));





//----------------------------------------------------
//          #PAGE MARGINS MEDIA QUERIES
//----------------------------------------------------
@media screen and (min-width: $vp2) {
    .#{$grid-prefix}grid {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (min-width: $vp3) {
    .#{$grid-prefix}grid {
        padding-left: 0;
        padding-right: 0;
        width: 90%; //To provide 5% page margins
    }
}

// Reducing padding to a reasonable size for "extremely" large displays
@media screen and (min-width: 2000px) {
    .#{$grid-prefix}grid {       
        .#{$grid-prefix}row {
            margin-left: -1em;
            margin-right: -1em;
            margin-left: -0.5vw;
            margin-right: -0.5vw;

            & > [class*="col-"] {
                padding-left: 1em;
                padding-right: 1em;
                padding-left: 0.5vw;
                padding-right: 0.5vw;
            }
        }
    }
}





//------------------------------------
//          #MOBILE FIRST SIZES
//------------------------------------
@import "mobile-first";




//----------------------------------------------------
//          #MEDIA QUERIES FOR AUTOMATIC RWD OPTION
//----------------------------------------------------
@import "automatic-rwd";





//----------------------------------------------------
//          #GRID FEATURE IMPORTS
//----------------------------------------------------
@if $includeManualColspans {
    @import "manual-colspans";
}

@if $includeOffsets {
    @import "offsets";
}

@if $includePushPull {
    @import "column-ordering";
}

@if $includeVisibility {
    @import "visibility";
}