//------------------------------------
//          #IMPORTS
//------------------------------------
@import "config";
@import "directional";
//manual col spans and offset imports are at the bottom for specificity battle





//Not assuming use of picchu or other library for box-sizing border-box
.#{$grid-prefix}grid, .#{$grid-prefix}row, [class*="col-"] { 
    box-sizing: border-box; 
} 





//------------------------------------
//          #GRID, ROW, COL
//------------------------------------
.#{$grid-prefix}grid {
    display: block;
    position: relative;
    width: 92.5%; //Goes to 90% at vp2
    margin-left: auto;
    margin-right: auto;
    max-width: $max-grid-width;

    &.full {
        width: 100%;
        max-width: none;

        &.zero-margin {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.fixed {
        .#{$grid-prefix}row {
            margin-left: -$fixed-col-margin;
            margin-right: -$fixed-col-margin;

            & > [class*="col-"] {
                padding-left: $fixed-col-margin;
                padding-right: $fixed-col-margin;
            }
        }
    }

    &.zero-margin {
        .#{$grid-prefix}row {
            margin-left: 0;
            margin-right: 0;

            & > [class*="col-"] {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .#{$grid-prefix}row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1em;
        margin-right: -1em;
        margin-left: -1vw;
        margin-right: -1vw;

        &.content-flush {
            margin-left: -2em;
            margin-right: -2em;
            margin-left: -2vw;
            margin-right: -2vw;
        }
    }

    .#{$grid-prefix}row:after,
    [class*="col-"]:after {
        content: "";
        display: table;
        clear: both;
    }
}

[class*="col-"] {
    align-items: stretch;
    float: $left;
    width: 100%;
    position: relative;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-left: 1vw;
    padding-right: 1vw;
    &.centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@include if-mixed("[class*='col-']", (float, $left));





//------------------------------------
//          #VERTICAL SPACING OFFER
//------------------------------------
.mscom-vertical {
    [class*="col-"] {
        padding: 1em 1em;
        padding: -webkit-calc(1em + 0.5vh) 1vw;
        padding: calc(1em + 0.5vh) 1vw;
    }
}





//------------------------------------
//          #MOBILE FIRST SIZES
//------------------------------------
.col-1-3.nb, .col-2-6.nb {
    width: percentage(1 / 3);
}

.col-2-3.nb, .col-4-6.nb {
    width: percentage(2 / 3);
}

.col-1-2.nb,
.col-2-4.nb,
.col-3-6.nb,
.col-1-8,
.col-1-12,
.col-1-16 {
    width: percentage(1 / 2);
}

.col-1-4.nb {
    width: percentage(1 / 4);
}

.col-3-4.nb {
    width: percentage(3 / 4);
}

.col-1-5.nb {
    width: percentage(1 / 5);
}

.col-1-6.nb,
.col-1-24 {
    width: percentage(1 / 6);
}

.col-1-8.nb {
    width: percentage(1 / 8);
}

.col-1-12.nb {
    width: percentage(1 / 12);
}

.col-1-16.nb {
    width: percentage(1 / 16);
}

.col-1-24.nb {
    width: percentage(1 / 24);
}

.col-2-8,
.col-2-12,
.col-4-12,
.col-2-16,
.col-4-16,
.col-8-16,
.col-2-2,
.col-3-3,
.col-4-4,
.col-5-5,
.col-6-6,
.col-8-8,
.col-12-12,
.col-16-16,
.col-24-24 {
    width: percentage(1);
}





//----------------------------------------------------
//          #MEDIA QUERIES FOR AUTOMATIC RWD OPTION
//----------------------------------------------------
@media screen and (min-width: $vp1) {
    .col-1-16 {
        width: percentage(1 / 4);
    }

    .col-2-16 {
        width: percentage(1 / 2);
    }
}

@media screen and (min-width: $vp2) {
    .#{$grid-prefix}grid {
        width: 90%;
    }

    .col-1-4,
    .col-1-6,
    .col-1-8,
    .col-2-12,
    .col-6-24,
    .col-6-24 + .preceding-col-6-24  {
        width: percentage(1 / 2);
    }

    .col-1-3 {
        width: percentage(1 / 3);
    }

    .col-2-3 {
        width: percentage(2 / 3);
    }

    .col-1-12 {
        width: percentage(1 / 4);
    }

    .col-3-6 + .col-1-6,
    .col-2-4,
    .col-2-6,
    .col-4-8,
    .col-3-4 + .col-1-4,
    .preceding-col-1-4,
    .preceding-col-6-24,
    .preceding-col-6-24 ~ .col-6-24 {
        width: percentage(1);
    }

    .col-1-24 {
        width: percentage(1 / 12);
    }
}

@media screen and (min-width: $vp3) {
    .col-1-2,
    .col-2-4,
    .col-4-6 ~ .col-1-6,
    .preceding-col-1-6,
    .col-2-8,
    .col-6-8 ~ .col-1-8,
    .preceding-col-1-8,
    .col-4-16,
    .col-12-24 {
        width: percentage(1 / 2);
    }

    .col-1-4,
    .col-3-4 + .col-1-4,
    .preceding-col-1-4,
    .col-1-8,
    .col-2-16,
    .col-6-24,
    .preceding-col-6-24,
    .col-6-24 + .preceding-col-6-24,
    .preceding-col-6-24 ~ .col-6-24  {
        width: percentage(1 / 4);
    }

    .col-1-5 {
        width: percentage(1 / 5);
    }

    .col-2-5 {
        width: percentage(2 / 5);
    }

    .col-3-5 {
        width: percentage(3 / 5);
    }

    .col-4-5 {
        width: percentage(4 / 5);
    }

    .col-1-6,
    .col-3-6 + .col-1-6  {
        width: percentage(1 / 3);
    }

    .col-3-4,
    .col-1-8 + .preceding-col-1-8 {
        width: percentage(3 / 4);
    }

    .col-2-6,
    .col-1-6 + .preceding-col-1-6 {
        width: percentage(2 / 3);
    }


    .col-4-4,
    .col-3-6,
    .col-4-6,
    .col-4-6 + .col-2-6,
    .preceding-col-2-6,
    .col-4-8,
    .col-6-8,
    .col-6-8 + .col-2-8,
    .preceding-col-2-8,
    .col-8-16  {
        width: percentage(1);
    }

    .col-1-16 {
        width: percentage(1 / 8);
    }

    .col-1-24 {
        width: percentage(1 / 24);
    }
}

@media screen and (min-width: $vp4) {
    .col-4-6 + .col-2-6,
    .preceding-col-2-6,
    .col-2-6,
    .col-4-12 {
        width: percentage(1 / 3);
    }

    .col-4-6 ~ .col-1-6,
    .preceding-col-1-6,
    .col-1-6,
    .col-3-6 + .col-1-6,
    .col-1-6 + .preceding-col-1-6,
    .col-2-12 {
        width: percentage(1 / 6);
    }

    .col-6-8 + .col-2-8, 
    .preceding-col-2-8,
    .col-2-8,
    .col-2-16 {
        width: percentage(1 / 4);
    }

    .col-6-8 ~ .col-1-8,
    .preceding-col-1-8,
    .col-1-8 + .preceding-col-1-8,
    .col-1-8,
    .col-1-16 {
        width: percentage(1 / 8);
    }

    .col-3-6,
    .col-4-8,
    .col-4-16 {
        width: percentage(1 / 2);
    }

    .col-4-6 {
        width: percentage(2 / 3);
    }

    .col-6-6,
    .col-8-16 {
        width: percentage(3 / 3);
    }

    .col-6-8 {
        width: percentage(3 / 4);
    }

    .col-1-12 {
        width: percentage(1 / 12);
    }
}

@media screen and (min-width: $vp5) {
    .col-1-16 {
        width: percentage(1 / 16);
    }

    .col-2-16 {
        width: percentage(1 / 8);
    }

    .col-4-16 {
        width: percentage(1 / 4);
    }

    .col-8-16 {
        width: percentage(1 / 2);
    }
}



// Reducing padding to a reasonable size for "extremely" large displays
@media screen and (min-width: 2000px) {
    .#{$grid-prefix}grid {       
        .#{$grid-prefix}row {
            margin-left: -1em;
            margin-right: -1em;
            margin-left: -0.5vw;
            margin-right: -0.5vw;

            & > [class*="col-"] {
                padding-left: 1em;
                padding-right: 1em;
                padding-left: 0.5vw;
                padding-right: 0.5vw;
            }
        }
    }
}

@import "manual-colspans";
@import "offsets";