$large-size: 18em;
$small-size: 12em;
$ms-pink: #ef0060;
$ms-blue: #1570a6;
$ms-green: #107c10;

body {
	&.offsetopened {
		overflow-x: hidden;
	}
}

.toolbox {
	text-align: center;
}

.page {
	background-color: #FFF;
	padding-bottom: 1em;
	position: relative;

	&.offset-docked {
		left: auto !important;
		margin-left: 20%;
		overflow: hidden; //Should be removed eventually
		right: auto;
	}
}

.msdotcomoffsetmenu {
	background-color: #333333;
	height: 100vh;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: $large-size;
	transition: width 0.3s linear;

	&.offset-docked {
		width: 20%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.offset-menu-link {
		background-color: transparent;
		border: none;
		color: #FFF;
		cursor: pointer;
		display: block;
		padding: 1em;
		text-align: left;
		text-decoration: none;
		white-space: normal;
		width: 100%;

		&:hover, &:focus {
			background-color: #EEE;
			color: #333;
		}
	}
}

.offset-menu-button {
	background-color: #eee;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 4.6em;
	padding: 1em;
	position: fixed;
	z-index: 1;

	&:hover, &:focus {
		background-color: #333;

		.menu-icon rect {
			fill: #FFF;
		}
	}

	.menu-icon {
		width: 2.5em;
	}
}

@media all and (max-width: 768px) {
	.dock-button {
		display: none;
	}
	.msdotcomoffsetmenu {
		width: $small-size;
	}
}