/*CSS that is just for demo site purposes*/
@import "../components/picchu/picchu.css";
@import "../components/offset-menu/src/scss/msdotcomoffsetmenu";
@import "../../src/sass/mscom-grid-mixed";


.ms-row {
	margin-bottom: 1em;
}

.spartan-layout {
	.filler {
		height: 25em;

		&.tall {
			height: 150em;
		}

		&.short {
			height: 10em;
		}
	}

	.vert {
		.col-1-3 {
			margin-bottom: 1em;
		}
	}
}

.complex-layouts {
	margin-bottom: 1em;

	.bottom-spacer {
		margin-bottom: 1em;
	}

	.ms-row {
		margin-bottom: 0;
	}

	.fill-height {
		display: flex;
		flex-direction: column;

		& > * {
			flex: 1;
		}
	}

	.pink-bgc, .blue-bgc {
		min-height: 5em;
	}

	&.pinterest {
		.uno, .dos, .tres {
			& > .ms-row {
				& > div {
					margin-bottom: 1em;
				}
			}
		}
		.uno {
			& > .ms-row {
				div:nth-of-type(even) {
					.filler {
						height: 9em;
					}
				}

				div:nth-of-type(odd) {
					.filler {
						height: 16em;
					}
				}
			}
		}

		.dos {
			& > .ms-row {
				div:nth-of-type(odd) {
					.filler {
						height: 12em;
					}
				}

				div:nth-of-type(even) {
					.filler {
						height: 18em;
					}
				}
			}
		}

		.tres {
			& > .ms-row {
				div:nth-of-type(even) {
					.filler {
						height: 7em;
					}
				}

				div:nth-of-type(odd) {
					.filler {
						height: 20em;
					}
				}
			}
		}
	}
}

.demoTable {
	font-size: 1.2em;
	overflow: auto;
	border: 1px solid #000;

	thead tr th {
		font-weight: bold;
		background-color: #eee;
	}
	td {
		text-align: center;
		padding: 0 5vw;
		border: 1px solid #000;
	}
}

.colNum {
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.8);
	padding-right: 1em;
	padding-right: 1rem;
	text-align: right;
	width: 100%;
	display: inline-block;
}

.fixed .colNum, .zero-margin .colNum {
	width: 100%;
}

.fullGridDemo {
	h1, h2, h3, h4 {
		display: none;
	}
}

/*Clickable gridline styles*/
.gridlines {
	display: none;

	&.outside {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	& > .full.ms-row {
		width: 100%;
		max-width: none;
	}

	.ms-row .col-1-24 {
		height: 9999em;
	}

	.bar {
		position: relative;
		float: left;
		width: 4.16%;
		height: 100vh;
		padding-right: 1vw;
		padding-left: 1vw;
		bottom: 0;
	}

	.bar:last-of-type {
		margin-right: 0;
	}
	.grid-bar-color{
		background-color: rgba(255, 0, 0, 0.25);
		height: 100%;
	}
}

.row-background-photo {
	background-image: url(http://static.pexels.com/wp-content/uploads/2014/09/light-bulb-lights-2830-824x550.jpg);
	background-size: cover;
	p {
		color: #FFF;
	}
}

.background-photo-wrapper {
	background-image: url(http://static.pexels.com/wp-content/uploads/2014/09/fence-ivy-overgrown-2810-829x550.jpg);
	background-size: cover;
}

.background-color-wrapper {
	background-color: #00A1F1;
}

.ms-grid {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	&.extras img {
		width: 100%;
	}
}

.notes {
	padding-top: 5em;
}

.list-of-links {
	list-style: none;
	padding-left: 0;
	li {
		color: #1570a6;
	}
}

.discover-links li {
	margin-bottom: 1em;
}

.mini-feature-img {
	width: 100%;
}

.caption-text {
	display: block;
	font-size: 0.8em;
}

.social-wrapper {
	background-color: #1570A6;
	h2, .list-of-links li {
		color: #FFF;
	}
}

.demo-box {
	width:100%;
	height: 8em;
	margin: 1.5em 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.hp-footer {
	background-color: #eee;
}

.spec-tables h1 {
	width: 100%;
}

@media screen and (min-width: 540px) {
	.discover-links li, .follow-links li {
		display: inline-block;
		margin-right: 1.5em;
	}
}

@media screen and (min-width: 768px) {
	.discover-links li, .follow-links li {
		display: block;
		margin-right: 0;
	}
}